# Week 1

In [1]:
sum=0
count = 0

while count<10:
    n = float(input('Enter a number: '))
    sum = sum + n
    count = count + 1

average = sum/10

print(f'The average of these numbers is: {average}')

Enter a number: 1
Enter a number: 2
Enter a number: 3
Enter a number: 4
Enter a number: 5
Enter a number: 6
Enter a number: 7
Enter a number: 8
Enter a number: 9
Enter a number: 10
The average of these numbers is: 5.5

In [2]:
import math
def geometricMean(arr, n) :
    product = 1
    for i in range(0,n) :
        product = product * arr[i]
    gm = (float)(math.pow(product, (1 / n)))
    return (float)(gm)
arr = [ 1, 2, 3, 4, 5, 6, 7, 8]
n = len(arr)
print ('{0:.6f}'.format(geometricMean(arr, n)))

3.764351

In [1]:
import math
def is_prime(n):
    if n <= 1:
        return False

    for i in range(2, int(n**0.5)+1):
        if (n%i)==0:
            return False
        else:
            return True

n=int(input("Enter a number: "))
if is_prime(n):
    print(f"{n} is a prime number")
else:
    print(f"{n} is not a prime number")

Enter a number: 6
6 is not a prime number

In [7]:
def search(arr, x):
 
    for i in range(len(arr)):
 
        if arr[i] == x:
            return i
 
    return -1

In [8]:
def search(arr, curr_index, key):
    if curr_index == -1:
        return -1
    if arr[curr_index] == key:
        return curr_index
    return search(arr, curr_index-1, key)

In [15]:
import math

def area_of_triangle(a, b, c):
    s = (a + b + c) / 2
    area = math.sqrt(s * (s - a) * (s - b) * (s - c))
    
    return area

In [16]:
a=int(input("Enter a: "))
b=int(input("Enter b: "))
c=int(input("Enter c: "))
A=int(area_of_triangle(a,b,c))
print(f'Area of triangle is: {A}')

Enter a: 12
Enter b: 12
Enter c: 12
Area of triangle is: 62

## Main Questions

1. Create a data frame with details of 10 students and columns as Roll Number, Name, 
Gender, Marks1, Marks2, Marks3.

In [40]:
import pandas as pd
data = {
    'Roll Number': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Grace', 'Hannah', 'Isaac', 'Jack'],
    'Gender': ['F', 'M', 'M', 'M', 'F', 'M', 'F', 'F', 'M', 'M'],
    'Marks1': [85, 78, 92, 67, 88, 75, 91, 80, 70, 83],
    'Marks2': [90, 85, 88, 72, 78, 82, 89, 87, 76, 81],
    'Marks3': [79, 83, 95, 70, 84, 88, 92, 81, 73, 90]
}

df = pd.DataFrame(data)
print(df)

   Roll Number     Name Gender  Marks1  Marks2  Marks3
0          101    Alice      F      85      90      79
1          102      Bob      M      78      85      83
2          103  Charlie      M      92      88      95
3          104    David      M      67      72      70
4          105      Eve      F      88      78      84
5          106    Frank      M      75      82      88
6          107    Grace      F      91      89      92
7          108   Hannah      F      80      87      81
8          109    Isaac      M      70      76      73
9          110     Jack      M      83      81      90

2. Create a new column with total marks

In [41]:
df['Total Marks'] = df['Marks1'] + df['Marks2'] + df['Marks3']
print(df)

   Roll Number     Name Gender  Marks1  Marks2  Marks3  Total Marks
0          101    Alice      F      85      90      79          254
1          102      Bob      M      78      85      83          246
2          103  Charlie      M      92      88      95          275
3          104    David      M      67      72      70          209
4          105      Eve      F      88      78      84          250
5          106    Frank      M      75      82      88          245
6          107    Grace      F      91      89      92          272
7          108   Hannah      F      80      87      81          248
8          109    Isaac      M      70      76      73          219
9          110     Jack      M      83      81      90          254

3.Find the lowest marks in Marks1

In [42]:
lowest_marks_Marks1 = df['Marks1'].min()
print(lowest_marks_Marks1)

67

4.Find the Highest marks in Marks2

In [43]:
highest_marks_Marks2 = df['Marks2'].max()
print(highest_marks_Marks2)

90

5. Find the average marks in Marks3

In [44]:
average_marks_Marks3 = df['Marks3'].mean()
print(average_marks_Marks3)

83.5

6. Find student name with highest average

In [45]:
highest_average_student = df.loc[df['Total Marks'].idxmax(), 'Name']
print(highest_average_student)

Charlie

7. Find how many students failed in Marks2 (<40)

In [46]:
num_students_failed_Marks2 = df[df['Marks2'] < 40].shape[0]
print(num_students_failed_Marks2)

0